# Clustering Categorical Data

You are given much more country data. Using the same methodology as the one in the lecture, group all the countries in 2 clusters. 

<b> Already done that? Okay! </b>
    
There are other features: name and continent. 

Encode the continent one and use it in the clustering solution. Think about the difference with the previous exercise.

## Import the relevant libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

## Load the data

Load data from the csv file: <i> 'Categorical.csv'</i>.

In [15]:
data = pd.read_csv('Categorical.csv')
data

             name   Longitude   Latitude      continent
0           Aruba  -69.982677  12.520880  North America
1     Afghanistan   66.004734  33.835231           Asia
2          Angola   17.537368 -12.293361         Africa
3        Anguilla  -63.064989  18.223959  North America
4         Albania   20.049834  41.142450         Europe
..            ...         ...        ...            ...
236         Samoa -172.164851 -13.753243        Oceania
237         Yemen   47.586762  15.909280           Asia
238  South Africa   25.083901 -29.000341         Africa
239        Zambia   27.774759 -13.458242         Africa
240      Zimbabwe   29.851441 -19.004204         Africa

[241 rows x 4 columns]

Remove the duplicate index column from the dataset.

## Map the data

Use the <i>'continent'</i> category for this analysis.

In [16]:
data_mapped = data.copy()
data_mapped['continent'] = data_mapped['continent'].map({'North America':0,'South America':1,'Europe':2,'Oceania':3,'Asia':4,'Africa':5,'Australia':6})
data_mapped

             name   Longitude   Latitude  continent
0           Aruba  -69.982677  12.520880        0.0
1     Afghanistan   66.004734  33.835231        4.0
2          Angola   17.537368 -12.293361        5.0
3        Anguilla  -63.064989  18.223959        0.0
4         Albania   20.049834  41.142450        2.0
..            ...         ...        ...        ...
236         Samoa -172.164851 -13.753243        3.0
237         Yemen   47.586762  15.909280        4.0
238  South Africa   25.083901 -29.000341        5.0
239        Zambia   27.774759 -13.458242        5.0
240      Zimbabwe   29.851441 -19.004204        5.0

[241 rows x 4 columns]

## Select the features

In [19]:
work_data = data_mapped.iloc[:,3:4]
work_data

     continent
0          0.0
1          4.0
2          5.0
3          0.0
4          2.0
..         ...
236        3.0
237        4.0
238        5.0
239        5.0
240        5.0

[241 rows x 1 columns]

## Clustering

Use 4 clusters initially.

In [22]:
kmeans = KMeans(4)

## Clustering results

In [23]:
identified_clusters = kmeans.fit_predict(work_data)
identified_clusters

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

## Plot the data

Since you already have all the code necessary, go back and play around with the number of clusters. Try 3, 7 and 8 and see if the results match your expectations.

Simply go back to the beggining of the <b> Clustering </b> section and change <i> kmeans = KMeans(4) </i> to <i> kmeans = KMeans(3) </i>. Then run the remaining cells until the end.